name: tls-scan build

on:
  push:
    branches:
    - main
    - master

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-18.04
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: Setup build dependencies
      if: matrix.os == 'ubuntu-18.04'
      run: sudo apt install -y autoconf automake libtool pkg-config gcc unzip
    - name: Setup MacOS build dependencies
      if: matrix.os == 'macos-latest'
      run: brew install autoconf automake libtool
    - name: build-x86-64	
      run: ./build-x86-64.sh
